{% extends '_layouts/main.html.twig' %}

{% block title %}{{ title }}  | {{ app_name }}{% endblock title %}

{% block content %}
    <!-- Breadcrumb Area Start Here -->
    <div class="breadcrumb-area">
        <div class="container">
            <ol class="breadcrumb breadcrumb-list">
                <li class="breadcrumb-item">
                    <a href="{{ path('app_home_index') }}">Home</a>
                </li>
                <li class="breadcrumb-item active">Forgot Password</li>
            </ol>
        </div>
    </div>
    <!-- Breadcrumb Area End Here -->
    <!-- Forgot Password Start Here -->
    <div class="lost-pass ptb-80">
        <div class="container">
            <div class="register-title">
                <h3 class="login-header">Register Account</h3>
            </div>
            <form class="password-forgot clearfix" action="https://preview.hasthemes.com/ponno/mail.php">
                <fieldset>
                    <legend>Your Personal Details</legend>
                    <div class="form-group row">
                        <label class="control-label col-lg-3 col-md-3" for="email"><span class="require">*</span>Enter
                            your email address here...</label>
                        <div class="col-lg-9 col-md-9">
                            <input type="email" class="form-control" id="email"
                                   placeholder="Enter your email address here...">
                        </div>
                    </div>
                </fieldset>
                <div class="buttons newsletter-input">
                    <div class="float-left float-sm-left">
                        <a class="customer-btn mr-20" href="{{ path('app_home_login') }}">Back</a>
                    </div>
                    <div class="float-right float-sm-right">
                        <input type="submit" value="Continue" class="return-customer-btn">
                    </div>
                </div>
            </form>
        </div>
        <!-- Container End -->
    </div>
    <!-- Forgot Password End Here -->
{% endblock %}

