###> code-editors ###
.idea
.vscode
###< code-editors ###

###> environment ###
/.env
/.env.local
/.env.local.php
/.env.*.local
###< environment ###

###> symfony/framework-bundle ###
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###

###> php-cs-fixer ###
.php-cs-fixer.cache
###< php-cs-fixer ###

###> docker ###
/docker/ssl.key
/docker/ssl.pem
/docker/apache.conf
/docker/install/setup.sh
###< docker ###