<div class="row">
    <div class="col-12">
        <div>
            <div class="d-flex justify-content-between">
                <h4>
                    {% block page %}{% endblock %}
                </h4>
                <div id="x-breadcrumb">
                    <p class="breadcrumb-label">
                        <a href="{{ url('admin_dashboard_index') }}">
                            <i class="fa fa-home"></i>
                        </a>
                        {% set pathArray = app.request.pathInfo|split('/')|filter(v => v is not empty) %}
                        {% set pathArray = pathArray|slice(1, pathArray|length) %}
                        {% for segment in pathArray %}
                            {% if loop.index == 1 %}
                                <span class="text-muted">
									<i class="fas fa-angle-right"></i>
								</span>
                                <span class="text-muted">
									<a href="{{ path('admin_' ~ segment ~ '_index')|default('#') }}">{{ segment|capitalize }}</a>
								</span>
                            {% endif %}
                            {% if loop.index == 2 %}
                                <span class="text-muted">
									<i class="fas fa-angle-right"></i>
								</span>
                                <span class="text-muted">
									<a href="#">{{ segment|capitalize }}</a>
								</span>
                            {% endif %}
                        {% endfor %}
                    </p>
                </div>
            </div>
            <div class="header-title mb-3"></div>
        </div>
    </div>
</div>