# LOCAL
<VirtualHost *:80>
    DocumentRoot "/var/www/html/web-app/public"

    ServerAdmin admin@web-app
    ServerName web-app.local
    ServerAlias www.web-app.local

    <Directory /var/www/html/web-app/public>
        Options Indexes FollowSymLinks
        AllowOverride All
        Require all granted
     </Directory>

    ErrorLog "${APACHE_LOG_DIR}/web-app.local.error.log"
    CustomLog "${APACHE_LOG_DIR}/web-app.local.access.log" combined
</VirtualHost>

# SSL
<VirtualHost *:443>
    DocumentRoot "/var/www/html/web-app/public"

    ServerAdmin admin@web-app
    ServerName web-app.example
    ServerAlias www.web-app.example

    SSLEngine on

    SSLCertificateFile      /etc/apache2/ssl/ssl.pem
    SSLCertificateKeyFile   /etc/apache2/ssl/ssl.key

    <FilesMatch "\.(?:cgi|shtml|phtml|php)$">
        SSLOptions +StdEnvVars
    </FilesMatch>

    <Directory /var/www/html/web-app/public/>
        Options Indexes FollowSymLinks
        AllowOverride All
        Require all granted
    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/web-app.example.error.log
    CustomLog ${APACHE_LOG_DIR}/web-app.example.access.log combined
</VirtualHost>