<form method="post" action="{{ path('admin_supplier_delete', {'id': supplier.id}) }}" id="delete-form-{{ supplier.id }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ supplier.id) }}">
    <button type="button" class="btn btn-danger mx-0" id="delete-btn-{{ supplier.id }}">Xóa</button>
</form>
