{% extends '_layouts/admin/main.html.twig' %}

{% block title %}New Supplier{% endblock %}

{% block content %}
    <h1>Thêm nhà cung cấp</h1>
    {{ include('admin/supplier/_form.html.twig') }}
{% endblock %}
